.header {
    height: 85px;
    padding: 30px 0;
    background-color: var(--co-white);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.header__nav {}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: min(70px, 4vw);
}

.header__item {
    font-size: 20px;
    font-weight: 500;
}

.header__link {
    color: var(--co-black);
    transition: color 0.3s ease;
    white-space: nowrap;
}

.header__link:hover {
    cursor: pointer;
    color: var(--co-dark-green);
}

.header__actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
}

@media (max-width: 992px) {
    .header__link {
        font-size: 16px;
    }

    .btn {
        width: 120px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .header__nav {
        visibility: hidden;
    }
}