.hero {
    height: 895px;
    width: 100%;
    margin-top: 25px;
    background-image: url('/assets/webp/hero_bg.webp');
}



.hero__content {
    padding: 180px 0 0 0;
    max-width: 420px;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero__title {
    color: var(--co-light-green);
    font-size: 65px;
    font-weight: 700;
}

.hero__desc {
    margin: 22px 0 44px;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.5em;
    color: var(--co-light-black);
}

.hero__content .btn {
    width: 230px;
    height: 65px;
}

@media (max-width: 768px) {
    .hero {
        width: 700px;
    }

    .hero__content {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 480px) {
    .hero {
        background:
            linear-gradient(180deg, rgba(245, 246, 252, 0.52), rgba(255, 176, 139, 0.28)),
            url('../assets/webp/hero_bg.webp') 60% 50%/cover no-repeat;
    }

    .hero__title {
        font-size: 45px;
        max-width: 350px;
    }
}